body {
  background-color: lightblue;
}

.container {
  width: 70%;
  margin: auto;
}

.header {
  width: 100%;
  border: solid rgb(118, 15, 202) 4px;
  border-radius: 8px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  background-color: navajowhite;
}

#board {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.grid-row {
  display: flex;
  justify-content: center;
}

.grid-item {
  height: 50px;
  width: 50px;
  background-color: darkkhaki;
  border: 4px solid darkolivegreen;
  border-radius: 20px;
  margin: 2px;

  font-size: 40px;
  font-family: "Arial";

  text-align: center;
  padding-top: 4px;
}

#turn {
  width: 100%;
  font-size: 50px;
  text-align: center;
  font-style: italic;
}

footer {
  border: solid 2px black;
  justify-content: left;
  width: 30%;
  margin-top: 60px;
}
